$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

// .animal-description {
//   height: 100px;
//   width: 300px
// }

// .new-entry{
//   display: block;
//   position: absolute;
// }

textarea {
  margin-bottom: 10px;
}

// .form-control {
//   width: 25%;
// }

.status-box {
  text-align: right;
}

.auth-button {
  margin-top: 5px;
}

.entry-form-container {
  text-align: center;
}

.new-entry {
  background-color: #67B986;
}

.left-column-entry {
  text-align: right;
}

.create-entry-button {
  width: 30%;
  clear: both;
  text-align: center;
  margin: 0 auto;
}

.update-entry-button {
  width: 30%;
  clear: both;
  float: left;
  text-align: center;
}

.cancel-update {
  width: 30%;
  float: left;
  margin-left: 20px;
  text-align: center;
}

.update-buttons {
  margin: 0 auto;
  text-align: center;
  clear: both;
}

.handlebars-container li {
  list-style: none;
}

.carousel-caption {
  visibility: hidden;
}

// .handlebars-container {
//   display: inline;
//   float: left;
// }

.hidden {
  display: none;
}
