$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

// .animal-description {
//   height: 100px;
//   width: 300px
// }

// .new-entry{
//   display: block;
//   position: absolute;
// }

textarea {
  margin-bottom: 10px;
}

// .form-control {
//   width: 25%;
// }

.status-box {
  text-align: right;
}

.entry-form-container {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.hidden {
     display:none;
}
